<!DOCTYPE html>
<html>
  <head>
    <title>BackPacking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">BackPacking</a>
      </div><!-- /.container-fluid -->
    </nav>
    <%= yield %>
  </body>
</html>
